# Node.js (Backend)
node_modules/
npm-debug.log
yarn-error.log

# Logs (Backend)
logs
*.log

# Local env files (Backend)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS specific files
.DS_Store

# Miscellaneous
*.swp
*.swo

# Frontend
/frontend/node_modules/
/frontend/build/
/frontend/.next/
/frontend/out/
/frontend/npm-debug.log
/frontend/yarn-error.log